# Python dependencies required for development
astunparse
expecttest!=0.2.0
hypothesis
numpy
psutil
pyyaml
requests
setuptools
types-dataclasses
typing-extensions>=4.8.0
sympy
filelock
networkx
jinja2
fsspec
# setuptools was removed from default python install
setuptools #; python_version >= "3.12"
packaging
optree>=0.9.1
lark
ipykernel
# jaxlib==0.4.26
# mujoco
ale-py
gymnasium[all]==1.0.0a2
gymnasium-robotics
pandas
flask
dash
dash-bootstrap-components
wandb
natsort
moviepy
ffmpeg
decorator==4.0.2
# cupy
# mpi4py # installed via conda